body{
    background-color: chocolate;
     font-family:"Tagesschrift", system-ui;
     
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    
}
div{
    
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}



h1{
    display: flex;
    justify-content: center;
}
.watsapp{
    position: relative;
    left: 35%;
}

.wlogo{
    width: 50px;
    
}
.watsapp :hover{
    transform: scale(1.2);
}

.boton{
    background-color: chocolate;
    border-radius: 10px;
    border: solid;
}
#password{
    background-color:chocolate;
    border-radius: 10px;
    border: solid;
}
#email{
    background-color:chocolate;
    border-radius: 10px;
    border: solid;
}
.formulario-contacto .formulario input.error {
    border:2px solid red;
    background-color: #ffe5e5;
}




.error-text{
    color: red;
    font-size:0.8rem }